body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 0.3125rem solid white; /* 5px */
    box-sizing: border-box;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    align-items: center;
    background-color: white;
    z-index: 1;
    font-family: Arial, sans-serif;
    border-bottom: 0.0625rem solid black; /* 1px */
}

header h1 {
    font-size: 2.5rem; /* 36px */
    font-weight: bold;
    color: black;
}

#container {
    width: calc(100% - 0.625rem); /* 10px */
    height: calc(100% - 0.625rem); /* 10px */
    margin: 0.3125rem; /* 5px */
    border: 0.0625rem solid black; /* 1px */
    overflow: hidden;
}

.mobile-controls {
    position: absolute;
    bottom: 1.5rem; /* 25px */
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem; /* 25px */
    box-sizing: border-box;
    display: none; /* Hidden by default */
}

.mobile-controls button {
    width: 3.5rem; /* 60px */
    height: 3.5rem; /* 60px */
    font-size: 0.75rem; /* 12px */
    font-variant: small-caps;
    font-weight: bold;
    border-radius: 1rem; /* 10px */
    border: 0.0625rem solid #784173; /* 2px */
    background-color: rgba(255, 255, 255, 0.1);
    color: black;
    opacity: 0.7;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.mobile-controls button:hover {
    box-shadow: 0 0 0.3rem #784173;
}

.left-controls {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.left-controls button {
    margin-right: 0.35rem; /* 15px */
}

.right-controls {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.right-controls button {
    margin-top: 0.35rem; /* 15px */
}

@media (max-width: 48rem) { /* 768px */
    .mobile-controls {
        display: flex; /* Show on mobile devices */
    }
}

#menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#menu-button {
    width: 3.5rem; /* 60px */
    height: 3.5rem; /* 60px */
    left: -1.875rem; /* 30px */
    top: -1.875rem; /* 30px */
    border-radius: 50%;
    border-width: 0.0625rem; /* 1px */
    border-color: black;
    background-color: transparent;
    color: black;
    font-size: 0.75rem; /* 12px */
    font-variant: small-caps;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 1s;
    position: absolute;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#menu-button.active {
    z-index: 3; /* Increase z-index when active */
    position: absolute;
    opacity: 0.2;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#menu-icons {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10rem; /* 200px */
    height: 10rem; /* 200px */
    border-radius: 50%;
}

.menu-icon {
    width: 3.75rem; /* 60px */
    height: 3.75rem; /* 60px */
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    box-shadow: 0 0 0.3rem transparent; /* 5px */
    transition: box-shadow 0.3s;
}

.menu-icon:hover {
    box-shadow: 0 0 0.3rem #E8D851; /* 5px */
    background-color: #E8D851;
}

img {
    width: 3.75rem; /* 60px */
    height: 3.75rem; /* 60px */
}

.menu-text {
    position:absolute;
    font-family: Arial, sans-serif;
    font-size: 0.75rem; /* 12px */
    font-variant: small-caps;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: #E8D851;
    width: 3.5rem;
}

*, *:focus, *:hover {
    outline: none;
}

#merch { transform: translate(3rem, -3rem); } /* 115px */
#music { transform: translate(3rem, 9rem); } /* 115px */
#art { transform: translate(-2.5rem, 0rem); } /* 345px */
#contact { transform: translate(-2.5rem, 6rem); } /* 345px */
#instagram { transform: translate(8.5rem, 0rem); } /* 270px, 45px */
#blank1 { transform: translate(8.5rem, 6rem); } /* 270px */
